@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* option 1 */
@theme {
  --color-gradient-primary:#F2E6EE;
  --color-gradient-secondary:#977DFF;
  --color-gradient_1:#E5D4E3;
  --color-gradient_2:#4d8bce;
  --color-gradient_3:#0C1347;
  --color-gradient_4:#510990;

  --color-bg_primary: #8D72E5;
  --color-bg_secondary: #9EB9F0;
  --color-bg_1:#AEBBE9;

  --color-text_primary: #ffffff;
  --color-text_secondary: #9f9f9f;
  --color-text_1:#383838;
  --color-text_2: #0033FF;
  --color-text_3:#A6A6A6;
  --color-text_4:#565656;
  --color-text_5:#EBEBEB;
  --color-text_6:#3E3D3D;
  --color-text_7:#757575;

  --color-border_primary: #F1FEFF;
  --color-border_secondary:#3D3D3D;
  --color-border_1:#404040;
  
  --color-shadow_primary: #212121;
  --color-shadow_secondary:#5C5C5C;
  --color-shadow_1:#ABA9A9;
}

/* option 2 */
@theme {
  --color-bg-primary: #16171d;
  --color-bg-secondary: #ef6e48;
  --color-bg-1: #141215;
  --color-bg-2: #35373e;
  --color-bg-3: #8d899c;
  --color-bg-4: #252525;

  --color-text-primary: #ffffff;
  --color-text-secondary: #9f9f9f;
  --color-text-1: #8c8989;
  --color-text-2:#A6A6A6;

  --color-border-primary: #f2e6ee;
  --color-border-secondary:#3D3D3D;
  --color-border-1:#404040;

  --color-shadow-primary: #212121;
}
